{% extends "users/base.html" %}

{% block content%}
<div class="spotify-playlists">
    <h2>Playlists</h2>
    {% for playlist in playlists %}
    <a href="{% url 'get-playlist' playlist.id %}">
        <div class="list">
            <div class="item">
                <h4>{{ playlist.name }}</h4>
                <a href="{% url 'delete-playlist' playlist.id %}">
                <span class="fa fa-trash"></span>
                </a>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock content %}