{% extends "users/base.html" %}

{% block content%}
<div class="spotify-playlists">
    <h2>Trending Beats</h2>

    <div class="list">
        {% for beat in beats %}
        <div class="item">
            <img src="{{ beat.coverpage.url }}" />
            <div class="play" data-audio-path="{{ beat.audio.url }}" data-beat-title="{{ beat.title }}"
                data-beat-singer="{{ beat.singer }}" data-image-url="{{ beat.coverpage.url }}">
                <span class="fa fa-play"></span>
            </div>
            <h4>{{ beat.title }}</h4>
            <p>{{ beat.singer }}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% include 'users/audio_player.html' %}
{% endblock content %}