{% extends 'users/base.html' %}

{% block content %}
<div class="content-section">
    <div class="card bg-dark text-white">
        <img src="{{ beat.coverpage.url }}" class="card-img" alt="Coverpage" width="200" height="200">
        <div class="card-img-top">
            <h5 class="card-title" style="margin-left: 3%;">{{ beat.title }}</h5>
            <h5 class="card-title">{{ beat.singer }}</h5>
            <audio controls>
                <source src="{{ beat.audio.url }}" type="audio/mpeg">
                <p>Your browser doesn't support HTML5 audio </p>
            </audio>
        </div>
        </div>
</div>
{% endblock %}