<div class="topbar">
    <div class="navbar">
        <ul>
            <li>
                <a href="#">Dummy</a>
            </li>
            <li class="divider">|</li>

            {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">Profile</a></li>
            {% else %}
                <li><a href="{% url 'register' %}">Sign Up</a></li>
            {% endif %}
        </ul>
        {% if user.is_authenticated %}
            <button type="button"><a href="{% url 'logout' %}">Logout</a></button>
        {% else %}
            <button type="button"><a href="{% url 'login' %}">Login</a></button>
        {% endif %}
    </div>
</div>